@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,700;1,700&family=Roboto:wght@100;300;400&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

#title {
  float: left;
  position: relative;
  color: black;
  left: 45px;
  font-weight: 100;
  padding: 20px;
  border: 1px solid black;
}

#title:hover {
  background-color: black;
  color: #f7f7f7;
}

.titleWrap {
  float: left;
  position: relative;
  left: 50%;
}

.sideBar {
  height: 100%;
  width: 250px;
  position: fixed;
  /* z-index: 1; element stays on top */
  top: 0;
  left: 0;
  background-color: #f7f7f7;
  position: fixed;
}

.searchForm {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
}

.searchForm input {
  width: 158px;
  border: 1px solid #000000;
  margin-bottom:10px;
}

.searchContainer{
  width: 100%;
  position: relative;
  display: inline-block;
}

.searchForm input:hover {
  border: 1px solid #000000;
}

.searchForm input:focus {
  outline: none;
  border: 1px solid #000000;
}

.noResults {
  height: 50%;
  margin-top: 20%;
  margin-left: 200px;
  text-align: center;
  font-weight: 300;
  color: grey;
}

.card{
  width: 100%;
  position: relative;
  display: inline-block;
}

.card img{
  width: 100%;
  margin-bottom: 15px;
}


.overlay-text {
  position: absolute;
  top: 50%; /* adjust as needed */
  left: 50%; /* adjust as needed */
  transform: translate(-50%, -50%);
  color: white;
  font-size: 18px;
  border-radius: 5px;
}


.hovered{
  filter: brightness(50%); 
}


.results {
  max-width: 2000px;
  margin-top: 20px;
  margin-left: 275px;
  margin-right: 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
}

@media (min-width: 600px) {
  /* button + button,
  input + button {
    margin-left: 1rem;
  } */

  .results {
    column-count: 3;
  }
}

@media (min-results: 1000px) {
  .results {
    column-count: 4;
  }
}

@media (min-width: 1400px) {
  .results {
    column-count: 5;
  }
}

.info{
  font-weight: 300;
  margin-left: 275px;
  z-index: 1;
}

.detailsContainer {
  display: flex;
  margin-left: 275px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.descriptionImage {
  max-height: 95vh;
}

.descriptionText {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 20px;
}

.artistName {
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: normal;
  white-space: pre-line;
  font-weight: 300;
}

.artistName::first-line {
  font-size: 24px;
  font-weight: 400;
}

.artworkTitle {
  font-family: "Roboto Condensed", sans-serif;
  font-style: italic;
  font-size: 32px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.artworkDetails {
  font-weight: 400;
}

span {
  font-weight: 400;
}

.artworkMedium {
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 5px;
}

.artworkStyle {
  font-weight: 300;
}

button {
  background-color: #f7f7f7;
  border: 1px solid black;
  color: black;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  width: 100%;
  margin-bottom:10px;
}

button:hover {
  background-color: black;
  color: #f7f7f7;
  text-decoration: underline;
}

.random,.saved{
  background-color: black;
  color: #f7f7f7;
}

.search{
  margin-bottom:40px;
}

.returnButton {
  margin-top: 30px;
  background-color: white;
}

input {
  padding: 12px 20px;
  font-size: 11px;
  border: black;
  font-family: "Roboto", sans-serif;
}

.source {
  font-size: 11px;
  text-align: center;
  color: grey;
}

.author {
  position: absolute;
  bottom: 10px;
  right: 65px;
  width: 50%;
  margin: auto;
  font-size: 11px;
  text-align: center;
  color: grey;
}

.home {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding-left: 275px;
  text-align: center;
}

.homeContainer p {
  overflow: hidden;
  white-space: nowrap;
  font-weight: 300;
}

.homeContainer span {
  overflow: hidden;
  white-space: nowrap;
  font-weight: 400;
}

.homeTitle {
  width: 130px;
  margin: auto;
  text-align: left;
  color: black;
  font-weight: 100;
  padding: 20px;
  border: 1px solid black;
  margin-bottom: 30px;
}
