@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,700;1,700&family=Roboto:wght@100;300;400&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

#title {
  float: left;
  position: relative;
  color: black;
  left: 45px;
  font-weight: 100;
  padding: 20px;
  border: 1px solid black;
}

#title:hover {
  background-color: black;
  color: #f7f7f7;
}

.titleWrap {
  float: left;
  position: relative;
  left: 50%;
}

.sideBar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1; /*element stays on top*/
  top: 0;
  left: 0;
  background-color: #f7f7f7;
  position: fixed;
}

.searchForm {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
}

.noResults {
  height: 50%;
  margin-top: 20%;
  margin-left: 200px;
  text-align: center;
  font-weight: 300;
  color: grey;
}

.resultImage {
  width: 100%;
  margin-bottom: 15px;
}

.resultImage:hover {
  filter: brightness(70%);
  transition: 0.35s ease;
}

.imageContainer {
  max-width: 2000px;
  margin-top: 20px;
  margin-left: 275px;
  margin-right: 20px;
  column-count: 4;
  position: relative;
  text-align: center;
  text-decoration: none;
}

.info{
  font-weight: 300;
  margin-left: 275px;
  z-index: 1;
}

.detailsContainer {
  display: flex;
  margin-left: 275px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.descriptionImage {
  max-width: 60%;
}

.descriptionText {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 20px;
}

.artistName {
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: normal;
  white-space: pre-line;
  font-weight: 300;
}

.artistName::first-line {
  font-size: 24px;
  font-weight: 400;
}

.artworkTitle {
  font-family: "Roboto Condensed", sans-serif;
  font-style: italic;
  font-size: 32px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.artworkDetails {
  font-weight: 400;
}

span {
  font-weight: 400;
}

.artworkMedium {
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 5px;
}

.artworkStyle {
  font-weight: 300;
}

button {
  background-color: #f7f7f7;
  border: 1px solid black;
  color: black;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Roboto", sans-serif;
}

button:hover {
  background-color: black;
  color: #f7f7f7;
  text-decoration: underline;
}

.returnButton {
  margin-top: 30px;
  background-color: white;
}

input {
  padding: 12px 20px;
  font-size: 11px;
  border: black;
  font-family: "Roboto", sans-serif;
}

.source {
  font-size: 11px;
  text-align: center;
  color: grey;
}

.home {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding-left: 275px;
  text-align: center;
}

.homeContainer p {
  overflow: hidden;
  white-space: nowrap;
  font-weight: 300;
}

.homeContainer span {
  overflow: hidden;
  white-space: nowrap;
  font-weight: 400;
}

.homeTitle {
  width: 130px;
  margin: auto;
  text-align: left;
  color: black;
  font-weight: 100;
  padding: 20px;
  border: 1px solid black;
  margin-bottom: 30px;
}
