body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

}

#title{
  float: left;
  position: relative;
  color: black;
  left: 45px;
  font-weight: lighter;
  padding: 20px;
  border: 1px solid black;

}

.titleWrap{
  float: left;
  position: relative;
  left: 50%;
}

.sideBar {
  height: 100%;
  border-right: 1px solid black;
  width: 250px;
  position: fixed;
  z-index: 1; /*element stays on top*/
  top: 0;
  left: 0;
  background-color: #f7f7f7;
  position: fixed;
}

.searchForm {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%
}

.resultImage {
  width: 100%;
  margin-bottom: 15px;
}

.imageContainer{
  max-width: 2000px;
  margin-top: 20px;
  margin-left: 275px;
  margin-right: 20px;
  column-count: 4;
}

.descriptionContainer{
  display: flex;
  margin-left: 275px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.descriptionImage{
  max-width: 800x;

}

.descriptionText{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 20px;
}

.artistName{
  margin-top: 0px;
  margin-bottom: 5px;
}

.artworkTitle{
  font-style: italic;
  margin-top: 5px;
  margin-bottom: 5px;
}

.artworkMedium{
  font-weight:normal;
  margin-top: 5px;
  margin-bottom: 5px;
}